.delBtn {
  color: #fff;
}

body {
  font-family: sans-serif;
  padding: 10px;
  background: #1976D2;
}

h2, h3 {
  margin: 0;
}

h2 {
  color: white;
}

input {
  display: block;
}
#ofl-header {
  background-color: lightblue;
  text-align: center;
  font-weight: 600;
}

#inputlist {
  display: inline-flex;
}

.newMaterial {
  background-color: grey;
}

#modal {
  color: #000;
}

footer {
  color: black;
  background-color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-weight: 600;;
}



/*#oflplaceholderbutton {*/
  /*!*display: inline-block;  CLEAR BUTTON PLACEHOLDER *!*/
/*}*/